@define-color foreground #E3E3B3;
@define-color background alpha(#282828,0.85);
@define-color cursor #B0976B;

@define-color color0 #4D4D4D;
@define-color color1 #282828;
@define-color color2 #7D4B22;
@define-color color3 #3E6E70;
@define-color color4 #BA798B;
@define-color color5 #F17E19;
@define-color color6 #AEB026;
@define-color color7 #CECF8A;
@define-color color8 #909161;
@define-color color9 #282828;
@define-color color10 #7D4B22;
@define-color color11 #3E6E70;
@define-color color12 #BA798B;
@define-color color13 #F17E19;
@define-color color14 #AEB026;
@define-color color15 #CECF8A;
